@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.word span:nth-child(1) {
  font-size: 50px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: greenyellow;
}

.word span:nth-child(2) {
  font-size: 25px;
  font-weight: normal;
  color: gold;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: blueviolet;
}

.word span:nth-child(3) {
  font-size: 45px;
  font-weight: 400;
  color: green;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Raleway Dot', sans-serif;
  background-color: gray;
}

.word span:nth-child(4) {
  font-size: 72px;
  font-weight: 700;
  color: orangered;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: teal;
}

.word span:nth-child(5){
  font-size: 72px;
  font-weight: bold;
  color: lawngreen;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: hotpink;
}

.word span:nth-child(6) {
  font-size: 72px;
  font-weight: bold;
  color: palevioletred;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: olive;
}

.word span:nth-child(7) {
  font-size: 72px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: burlywood;
}

.word span:nth-child(8) {
  font-size: 72px;
  font-weight: bold;
  color: darkolivegreen;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: rosybrown;
}

.word span:nth-child(9) {
  font-size: 72px;
  font-weight: bold;
  color: darkorchid;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: royalblue;
}

.container .word:nth-child(4n+1) span:nth-child(3n+1) {
  font-size: 72px;
  font-weight: bold;
  color: purple;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: teal;
}

.container .word:nth-child(2n+2) span:nth-child(3n+2) {
  font-size: 72px;
  font-weight: bold;
  color: palegreen;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: hotpink;
}

.container .word:nth-child(2n+3) span:nth-child(3n+3) {
  font-size: 72px;
  font-weight: bold;
  color: sandybrown;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  background-color: seagreen;
}